<% if (theme.valine ){ %>

<section class="comments" id="comments"  style="margin-top:30px;padding:1px 30px 1px 30px;background-color:rgba(255,255,255,1);box-shadow: 0px 0px 20px #bbbbbb;border-radius: 5px;border-left-width: 10px;">
 
 

 
    <!-- Valine Comments -->
    <div class="comments vcomment" id="comments"></div>
    <script src="https://www.whereareyou.site/js/av-min.js" charset="utf-8" type="text/javascript"></script>
    <script src="https://www.whereareyou.site/js/valine-min.js" charset="utf-8" type="text/javascript"></script>
    <!-- Valine Comments script -->
    <script>
        var GUEST_INFO = ['nick','mail','link'];
        var guest_info = '<%= theme.valine.guest_info %>'.split(',').filter(function(item){
          return GUEST_INFO.indexOf(item) > -1
        });
        new Valine({
            el: '#comments',
            notify: '<%= theme.valine.notify %>' == 'true',
            verify: '<%= theme.valine.verify %>' == 'true',
            appId: "<%= theme.valine.appId %>",
            appKey: "<%= theme.valine.appKey %>",
            avatar: "<%= theme.valine.avatar %>",
            placeholder: "<%= theme.valine.placeholder %>",
            guest_info: guest_info.length == 0 ? GUEST_INFO : guest_info,
            pageSize: "<%= theme.valine.pageSize %>"
        })
		console.log("Valine done!")
		 
    </script>
    <!-- Valine Comments end -->
</section>
<% } %>